@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    background-color: white;
    max-width: 375px;
    border-radius: 20px;
    text-align: center;
}

.figuraHero img {
    max-width: 375px;
    border-radius: 20px 20px 0 0;
}

.sumario {
    max-width: 277px;
    margin: auto;
}

.sumario h1 {
    margin: 20px 0;
}

.sumario p {
    margin-bottom: 25px;
    color: hsl(224, 23%, 55%);
    line-height: 1.5em;
}

.plano  {
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}

.plano .plano_figura {
    margin-right: 20px;
}

.figuraMusica {
    width: 40px;
}

.plano_texto p {
    font-weight: bold;
    line-height: 1.2em;
}

.plano_texto span {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color:hsl(224, 23%, 55%);
    font-size: 0.85em;
}

.plano2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.plano_texto {
    text-align: left;
    font-size: 0.9em;
}

.plano_link {
    font-weight: 600;
    font-size: 0.9em;
}

.botoes {
    font-weight: bold;
    margin-bottom: 15px;
    
}

.botoes p {
    color: hsl(224, 23%, 55%);
    font-size: 0.9em;
    cursor: pointer;
    max-width: 300px;
    margin: auto;
    
}

.botoes .pagamento {
    background-color: hsl(245, 75%, 52%);
    width: 100%;
    max-width: 300px;
    padding: 10px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

section > .pagamento:hover {
    background-color: hsla(245, 75%, 52%, 0.5);
}

section > p:hover {
    color: black;
}